body {
  margin: 0;
  padding: 0;
}

body * {
  font-family: Avenir, Trebuchet MS, Verdana, Tahoma;
}

@media (min-width: 768px) {
  #wd-recipals .wd-main-content-offset {
    padding-left: 50px !important;
  }
}

#wd-recipals {
  display: flex;
  text-align: left;
}

/* SIDEBAR STYLING */
.recipals-navbar {
  width: 200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 40px;
  border-right: 1px solid #e0e0e0;
}

.recipals-appname {
  font-size: 35px;
  font-weight: bold;
  color: #cd9f08 !important;
  margin-bottom: 30px;
}

.recipals-nav-link {
  display: flex;
  text-decoration: none;
  font-size: 18px;
  width: 100%;
  color: black;
  align-items: center;
  margin-bottom: 40px;
}

.recipals-nav-link svg {
  margin-right: 16px;
}

.recipals-nav-link:hover {
  color: gray;
}

.list-group-item {
  border: none !important;
}

.text-bold {
  font-weight: bold;
}

/* SIGNIN SCREEN */
#signin-screen {
  width: 100vh;
  display: flex;
}
.text-input-field {
  font-size: 14px !important;
  width: 400px !important;
}
#user-type {
  font-size: 14px;
}
#signin-title {
  margin-bottom: 14px;
}
#signout-btn {
  font-size: 14px;
}
#signin-btn {
  font-size: 14px;
  color: white;
  background-color: #cd9f08;
  margin-top: 12px;
  border-color: transparent !important;
}
#signup-link {
  font-size: 14px;
}
#signup-btn {
  font-size: 14px;
  color: white;
  background-color: #cd9f08;
  margin-top: 12px;
}
#signin-link {
  font-size: 14px;
}
.card {
  background-color: #f7f7f7 !important;
  border: none !important;
}

/* SIGNUP SCREEN */
#signup-screen {
  width: 450px;
  display: flex;
}
#signup-title {
  margin-bottom: 14px;
}
#signup-caption {
  font-style: italic;
  margin-bottom: 32px;
}
.profile-tag {
  border-radius: 20px !important;
  padding: 6px 12px;
  font-size: 14px;
  border: none;
}
.profile-tag.not-selected {
  background: #fff;
  border: 1px solid #bababa;
  color: #000;
}
.profile-tag.selected {
  background: #bedbff;
  border: none;
  color: #000;
}
.profile-tag.not-selected:hover {
  background: #bedbff;
  border: none;
  outline: #bedbff;
  color: #000;
}
.profile-tag.selected:hover {
  background: #fff;
  border: 1px solid #bababa;
  color: #000;
}

/* PROFLE */
.profile-pic {
  padding-left: 80px;
  padding-top: 0px;
}
.profile-username {
  font-size: 24px;
  margin-bottom: 20px;
}
.profile-user-info {
  font-size: 20px;
  gap: 50px;
}
.profile-name {
  font-size: 20px;
  margin-top: 16px;
  font-weight: bold;
}
.profile-bio {
  font-size: 16px;
  padding-left: 100px;
  padding-top: 30px;
}
.profile-tags {
  border-radius: 20px !important;
  background: #bedbff !important;
  border: none;
  color: #000;
  margin-top: 12px;
  margin-right: 16px;
  margin-bottom: 32px;
  padding: 6px 12px;
  font-size: 14px !important;
}
.edit-button {
  margin-bottom: 20px;
  border-radius: 8px !important;
  background: #ededed !important;
  border-color: transparent !important;
}
.profile-recipes {
  border-bottom: 1px solid #e0e0e0;
  margin-left: 100px;
  gap: 110px;
}
.tab-btn {
  border-color: transparent !important;
  background-color: transparent;
}
.tab-btn.active {
    border-bottom: 1px solid black !important;
  }
